{% extends 'base.html.twig' %}

{% block body %}


</br>

<div class="container">

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name, {'attr': {'class': 'form-control', 'style': 'width: 50%'}}) }}
    {{ form_row(form.surname, {'attr': {'class': 'form-control', 'style': 'width: 50%'}}) }}
    {{ form_row(form.dateOfBirth, {'attr': { 'style': 'color:black;'}}) }}


    </br>
    {{ form_row(form.submit,{'attr': {'class': 'btn btn-success', 'style': 'width: 10%'}}) }}



    {{ form_end(form) }}
</div>

{% endblock %}

