{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'attr': {'class': 'form-control', 'style': 'width: 50%'}}) }}
        {{ form_row(form.surname, {'attr': {'class': 'form-control', 'style': 'width: 50%'}}) }}


        </br>
        {{ form_row(form.submit,{'attr': {'class': 'btn btn-success', 'style': 'width: 10%'}}) }}


        {{ form_end(form) }}
    </div>

        <h4>Ostatnio dodani:(dla admina)</h4>
         {% for last in lastAdd %}

             <h4><li><a href="{{ path('app_details_fb',{'footballer': last.id}) }}">
                 {{ last.name }} {{ last.surname }} Id:{{ last.id }}
             </a> </li></h4>

        {% endfor %}
<hr>
    {% if footballer is defined %}


        {% for footballer in footballer %}

            <h3>
                <a href="{{ path('app_details_fb',{'footballer': footballer.0.footballer.id}) }}" style="text-decoration: none">
                    {{ footballer.0.footballer.name~' '~footballer.0.footballer.surname }}
                </a>
            </h3>

            <h5>
                <a href="{{ path('app_details_team',{'team': footballer.0.club.id|default}) }}" style="color: black">
                    {{ footballer.0.club.name|default('Nie podano') }}
                </a>
            </h5>

        {% endfor %}
    {% else %}

        <h1>Brak rezultatu</h1>


    {% endif %}




{% endblock %}