{% extends 'base.html.twig' %}

{% block body %}
    <script>



        setTimeout(countDowna, 1);
                    function countDowna() {

                        var oneDate = new Date("{{ timematch }}");

                        var oneDateMiliseconds = oneDate.getTime();


                        var currentMiliseconds = Date.now();

                        var timePassedInMilliseconds = (currentMiliseconds-oneDateMiliseconds)/1000/60;

                        var timerek = parseInt(timePassedInMilliseconds, 10);


                        if(timerek > 90){

                            document.getElementById("zegar").innerHTML = "Koniec";

                        }else {

                            document.getElementById("zegar").innerHTML = timerek + " minuta";
                            setTimeout(countDowna, 1000);
                        }
                    }

    </script>

<body>

    <h2>Mecz potwierdzony przez admina : {% if matchs.0.status == "Examined" %} TAK  {% else %} NIE  {% endif %}</h2>
   <h2>
       <div class="panel-default" id="zegar" style="text-align: center;">Minuta : minutes</div>
   </h2>

    {% for matchs in matchs %}
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <a href="{{ path('app_change_score',{'id': matchs.id}) }}" class="btn btn-success" >Dodaj gola</a></br></br>
        <a href="{{ path('app_change_score_delete',{'id': matchs.id}) }}" class="btn btn-danger" >Odejmij gola</a></br></br>
        <a href="{{ path('app_add_squad',{'id': matchs.id}) }}" class="btn btn-primary" >Wybierz składy</a></br></br>
        <a href="{{ path('app_delete_squad',{'id': matchs.id}) }}" class="btn btn-warning" >Skasuj składy</a></br></br>
        {% if matchs.status != "Examined" %}
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_MODERATOR") %}
        <a href="{{ path('app_add_points',{'id': matchs.id}) }}" class="btn btn-warning" >Zakończ</a></br></br>
                {% endif %}
        {% endif %}
    {% endif %}

            <div class="panel-heading" style="background-color: #868686; float: left; width: 49%;">
                <h3>
                    {{ matchs.hostTeam }} <div class="panel-default" style="float: right; color: #C82829">{{ matchs.goalHost }}</div>
                </h3>

        {% for hostGoal in hostGoal %}



                <h5>GOL! {{ hostGoal.shooter.name~' '~hostGoal.shooter.surname~' '~hostGoal.minutes~' min' }}</h5>

            {% for squadH in squadH %}
                <h5 style="color: black">{{ squadH.description }}</h5>
            {% endfor %}

        {% endfor %}

                <hr/>
                <h4>Zawodnicy:</h4>

                {% for squadH in squadH %}
                    {% if squadH.play == 0 %}
                        <a href{{ path('app_details_fb', {'footballer': squadH.footballer.id}) }}" class="btn btn-default">
                            {{ squadH.footballer.name~" "~squadH.footballer.surname }} </a>(Rezerwowy)</br>
                    {% elseif squadH.play == 1  %}
                    <a href="{{ path('app_details_fb', {'footballer': squadH.footballer.id}) }}" class="btn btn-success">
                        {{ squadH.footballer.name~" "~squadH.footballer.surname }}</a><br/>
                    {% elseif squadH.play == 3  %}
                        <a href="{{ path('app_details_fb', {'footballer': squadH.footballer.id}) }}" class="btn btn-default">
                            {{ squadH.footballer.name~" "~squadH.footballer.surname }}</a>(Zszedł)
                    </br>
                    {% endif %}
                {% endfor %}

             {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                <a href="{{ path('app_changFbH', {'id': matchs.id}) }}" class="btn btn-danger">Dokonaj Zmiany</a>
             {% endif %}
            </div>

            <div class="panel-heading" style="background-color: #868686; float: right; width: 49%;">
                <h3>
                    {{ matchs.guestTeam }} <div class="panel-default" style="float: right; color: #C82829;">{{ matchs.goalGuest }}</div>
                </h3>


        {% for guestGoal in guestGoal %}


                <h5>GOL! {{ guestGoal.shooter.name~' '~guestGoal.shooter.surname~' '~guestGoal.minutes~' min' }}</h5>

            {% for squadG in squadG %}
                <h5 style="color: black">{{ squadG.description }}</h5>
            {% endfor %}

        {% endfor %}
                <hr/>
                <h4>Zawodnicy:</h4>

                {% for squadG in squadG %}
                  {% if squadG.play == 0 %}
                    <a href{{ path('app_details_fb', {'footballer': squadG.footballer.id}) }}" class="btn btn-default">
                    {{ squadG.footballer.name~" "~squadG.footballer.surname }} </a>(Rezerwowy)</br>
                  {% elseif squadG.play == 1 %}
                    <a href="{{ path('app_details_fb', {'footballer': squadG.footballer.id}) }}" class="btn btn-success">
                        {{ squadG.footballer.name~" "~squadG.footballer.surname }}</a>
                    </br>
                  {% elseif squadG.play == 3 %}
                      <a href="{{ path('app_details_fb', {'footballer': squadG.footballer.id}) }}" class="btn btn-default">
                          {{ squadG.footballer.name~" "~squadG.footballer.surname }}</a>(Zszedł)<br/>
                  {% endif %}
                {% endfor %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
        <a href="{{ path('app_changFbG', {'id': matchs.id}) }}" class="btn btn-danger">Dokonaj Zmiany</a>
    {% endif %}
            </div>



    {% endfor %}

</body>
{% endblock %}